* {
  margin:0;
  padding: 0;
  border:0;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color:gainsboro;
  /* outline: 1px solid red;  */
}
 
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100vh;
  width: 100vw;
  background: url("./assets/images/background3.jpg") center/cover no-repeat;
  background-position: bottom;
}
/*----------------AUDIO_CONTAINER-----------------------------*/
.audio-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 24rem;
  height:24rem;
  opacity: 0.8;
}

/*----------------SLIDER_CONTAINER--------------*/
.slider {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  display: flex;
}

.slider-card {
  display: none;
  height: 27rem;
  opacity: 0;
  animation: 0.6s cubic-bezier(0, 0, 1, 1) fadeOutFromFlex;
}

.slider-card.active {
  display: block;
  flex-direction: column;
  opacity: 1;
  animation: 0.6s cubic-bezier(0, 0, 1, 1) fadeInFromNone;
}
/*---------------animation slider card----------------------------*/
@keyframes fadeInFromNone {
  0% {
    /* display: none; */
    opacity: 0;
  }
  1% {
    /* display: flex; */
    opacity: 0;
  }
  100% {
    /* display: flex; */
    opacity: 1;
  }
}

@keyframes fadeOutFromFlex {
  0% {
    /* display: flex; */
    opacity: 1;
  }
  99% {
    /* display: flex; */
    opacity: 0;
  }
  100% {
    /* display: none; */
    opacity: 0;
  }
}
/*---------------------------------------------------------------*/
.slider-img {
  height: 90%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 1rem;
  border: 0.1rem solid #612ae1;
  box-shadow: 0 0 1rem;
}

.slider-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #612ae1;
  color:  #6aeff7;
  font-size: 1.5rem;
  border-radius: 1rem 1rem 0rem 0rem;
  text-shadow: 0 0 1rem;
  box-shadow: 0 0 1rem;
}
/*----------------CONTROL_CONTAINER--------------*/
.control-container {
  display: flex;
  align-items: center;
  background: #612ae1;
  border-radius: 0rem 0rem 1rem 1rem;
  box-shadow: inset 0px -20px 20px 0px #6aeff7;
  
}
.control-btn-play {
  max-width: 4rem;
}

.control-btns {
  display:flex;
  flex-direction: column;
}
.control-btn-prev,
.control-btn-next {
  max-width: 2rem;
}
.control-btn-play:hover,
.control-btn-prev:hover,
.control-btn-next:hover {
  filter: invert(0.7);
  cursor:pointer;
}

.time-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.time-container-progressBar {
  appearance: none;
  flex-grow:1;
  height: 1rem;
  background: #f5ee90;
  border-radius: 1rem;
  cursor: pointer;
}
.time-container-progressBar::-webkit-slider-thumb {
    appearance: none;
    height: 1.5rem;
    width: 1rem;
    background-color: black;
    border: 0;
    border-radius: 1rem;
}

.time-container-currentTime {
  min-width:2rem;
  color:#e0ceba;
}
.time-container-trackTime {
  min-width:2rem;
  color:#e0ceba;
}


/*----------------------FOOTER---------------------------------*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.3rem solid  #612ae1;
  background: black;
  opacity: 0.8;
}

.footer-logo {
  width: 6rem;
  height: 4rem;
  filter: invert(0.7);
}
/*----------------adaptive-----------------*/
@media (max-width:768px) {
  .audio-container {
    width: 80%;
    height: 60%;
  }  
  .slider-img {
    height: 90%;
  }
  .slider {
    margin-top: 1rem;
  }
}

@media (max-width:450px) {
  .audio-container {
    width: 100%;
  }  
  .slider-img {
    height: 94%;
  }
  .slider {
    margin-top: 0;
  }
}

