* {
  margin:0;
  padding: 0;
  border:0;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  /* background: black; */
  color:wheat;
  outline:1px solid red;
}
html, 
body {
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100vh;
  background: url("./assets/images/background.jpg") center/cover no-repeat;
}
/*----------------AUDIO_CONTAINER-----------------------------*/
.audio-container {
  
}
/*----------------SLIDER_CONTAINER--------------*/
.slider-container {
  display: none;
}

.slider {
}

.slider-img {
}
/*----------------CONTROL_CONTAINER--------------*/
.control-container {
  display: none;
}
/*----------------------FOOTER---------------------------------*/
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  border-top: 0.3rem solid wheat;
  background: black;
  opacity: 0.8;
}

.footer-logo {
  width: 6rem;
  height: 4rem;
}