* {
  margin:0;
  padding: 0;
  border:0;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  /* background: black; */
  color:gainsboro;
  outline:1px solid red;
}
html, 
body {
  height:100%;
  background: url("./assets/images/background.jpg") center/cover no-repeat;
}
.wrapper {  
  display: flex;
  flex-direction: column;
  height: 100%;
  /* position: relative; */
  /* min-height: 100vh; */
 }
/*----------------AUDIO_CONTAINER-----------------------------*/
.audio-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  background:transparent;
  border-radius: 1rem;
  border: 0.2rem solid grey;
  /* align-items: center; */
  /* gap: 1rem; */
  width: 60%;
  height: auto;
}
/*----------------SLIDER_CONTAINER--------------*/
.slider {
  position: relative;
  height: 600px;
  opacity: 0.8;
  display: flex;
}

.slider-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: 0.6s;
}

.slider-card.active {
  visibility:visible;
  opacity: 1;
  transition: 0.6s;
}

.slider-img {
  /* display: block; */
  /* width: 100%; */
  border-radius: 1rem;
  border: 0.2rem solid grey;
}
.slider-title {
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-width: 100%; */
  background: grey;
  color: #89d86a;
  font-size: 2rem;
}
/*----------------CONTROL_CONTAINER--------------*/
.control-container {
  display: flex;
  /* margin-top: 3rem; */
  justify-content: space-between;
  align-items: center;
  background: grey;
}

.control-btn-play {
  max-width: 4rem;
}
#mp3 {
  
}
.control-btns {
  display:flex;
  flex-direction: column;
}
.control-btn-prev,
.control-btn-next {
  max-width: 2rem;
}
/*----------------------FOOTER---------------------------------*/
footer {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  border-top: 0.3rem solid #89d86a;
  background: black;
  opacity: 0.8;
}

.footer-logo {
  width: 6rem;
  height: 4rem;
  filter: invert(0.7);
}